<div id="registration-container" class="container-fluid">
  <h1>Register</h1>
  <form #registrationForm="ngForm" class="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-xs-6">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname" required
               [(ngModel)]="registration.firstName" name="firstname" #name="ngModel"
        >
      </div>
      <div class="form-group col-xs-6">
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" id="lastname" required
               [(ngModel)]="registration.lastName" name="lastname" #name="ngModel"
        >
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" required
               [(ngModel)]="registration.email" name="email" #name="ngModel"
        >
      </div>
      <div class="form-group col-xs-6">
        <label for="role">Role:</label>
        <select class="form-control" id="role" required
                [(ngModel)]="registration.participantType" name="role" #name="ngModel">
          <option *ngFor="let rol of roles" [value]="rol">{{rol}}</option>
        </select>
      </div>
    </div>
    <input type="submit" class="btn btn-success" value="Register">
  </form>
</div>
