<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="contractId">contractId</label>
                
                  <input formControlName="contractId" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="contractType">contractType</label>
                
                  <input formControlName="contractType" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="status">status</label>
                
                  <input formControlName="status" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="fundAgreed">fundAgreed</label>
                
                  <input formControlName="fundAgreed" type="number" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="fundReleased">fundReleased</label>
                
                  <input formControlName="fundReleased" type="number" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="courseId">courseId</label>
                
                    <textarea formControlName="courseId" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="studId">studId</label>
                
                    <textarea formControlName="studId" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="investorId">investorId</label>
                
                    <textarea formControlName="investorId" class="form-control" rows="3"></textarea>
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="contractId">contractId</label>

              
                <input [ngModel]="contractId"formControlName="contractId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="contractType">contractType</label>

              
                <input [ngModel]="contractType"formControlName="contractType" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="status">status</label>

              
                <input [ngModel]="status"formControlName="status" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="fundAgreed">fundAgreed</label>

              
                <input [ngModel]="fundAgreed" formControlName="fundAgreed" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="fundReleased">fundReleased</label>

              
                <input [ngModel]="fundReleased" formControlName="fundReleased" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="courseId">courseId</label>

              
                
                  <textarea [ngModel]="courseId" formControlName="courseId" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="studId">studId</label>

              
                
                  <textarea [ngModel]="studId" formControlName="studId" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="investorId">investorId</label>

              
                
                  <textarea [ngModel]="investorId" formControlName="investorId" class="form-control" rows="3"></textarea>
                
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Agreed funding</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">contractId</th>
            
                <th class="info">contractType</th>
            
                <th class="info">status</th>
            
                <th class="info">fundAgreed</th>
            
                <th class="info">fundReleased</th>
            
                <th class="info">courseId</th>
            
                <th class="info">studId</th>
            
                <th class="info">investorId</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.contractId}}</td>
            
                <td>{{asset.contractType}}</td>
            
                <td>{{asset.status}}</td>
            
                <td>{{asset.fundAgreed}}</td>
            
                <td>{{asset.fundReleased}}</td>
            
                <td>{{asset.courseId}}</td>
            
                <td>{{asset.studId}}</td>
            
                <td>{{asset.investorId}}</td>
            
            <td>
              <button (click)="getForm(asset.contractId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.contractId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
